.catalog-goods {
  margin-bottom: 31px;
}

.catalog-goods__item {
  border: 1px solid $borderGray;
  margin: 30px 0 0 0;
  padding: 0;
}

.catalog-goods__title {
  position: relative;
  padding: 69px 0 78px 11px;
  margin: 0;
  text-align: center;

  @include font(27, 700, 30);
  @include backgrondStrech(#f1f1f1);
}

.catalog-goods__list {
  @include resetList;
}

.catalog-goods__wrapper {
  margin: 0;
}

.catalog-goods__picture {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto 20px auto;
}

.catalog-goods__link {
  display: block;

  @include font(17, 700);
  color: $black;
  text-decoration: none;
}

.catalog-goods__name {
  margin: 0 23px 0 29px;
}

.catalog-goods__feature {
  color: $lightBlack;
  font-size: 13px;
  line-height: 30px;
  margin: 6px 18px 19px 29px;
}

.catalog-goods__bye-wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 7px;
  margin: 0 25px 12px 29px;
  border-top: 1px solid $borderGray;
}

.catalog-goods__price {
  font-weight: 700;
}

.catalog-goods__cart {
  background-color: transparent;
  border: none;
  padding: 0;

  &::before {
    content: url("../img/icon-cart.svg");
  }
}

@media (min-width: $medium) {
  .header__item--delivery::before {
    background: #f1f1f1;
  }

  .catalog-goods__title {
    padding: 7px 0 78px 11px;
    margin: 0 10px 82px 0;
    font-size: 43px;
    line-height: 50px;

    &::after {
      content: "";
      background: url("../img/bg-zigzag-fill-mini.svg") repeat-x 29px 13px;
      position: absolute;
      height: 23px;
      bottom: 0;
      left: -50px;
      right: -50px;
      z-index: 5;
    }
  }

  .catalog-goods__item {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 52px;
    height: 336px;
  }

  .catalog-goods__name {
    font-size: 20px;
    padding: 24px 0 0 331px;
    margin: 0 23px 0 29px;
  }

  .catalog-goods__picture {
    //float: left;
    position: absolute;
    top: 0;
    left: 0;
    width: 334px;
    margin-bottom: 0;
  }

  .catalog-goods__wrapper-price {
    display: flex;
    flex-direction: column;
    width: 334px;
    margin-left: 334px;
    flex-grow: 1;
  }

  .catalog-goods__feature {
    font-size: 15px;
    margin-left: 25px;
    margin-bottom: auto;
    flex-grow: 1;
  }

  .catalog-goods__bye-wrap {
    padding-top: 4px;
    margin: 0 25px 12px 32px;
    border-top: 1px solid $borderGray;
  }

  .catalog-goods__price {
    font-size: 17px;
  }

  .catalog-goods__cart::before {
    margin-right: 7px;
  }
}

@media (min-width: $large) {
  .catalog-goods__list {
    display: flex;
  }

  .catalog-goods__picture {
    float: none;
    width: 316px;
  }

  .catalog-goods__wrapper-price {
    display: block;
  }

  .catalog-goods__feature {
    min-height: auto;
  }
}
