.production {
  border: 1px solid $borderGray;
  margin-bottom: 59px;
}

.production__title {
  position: relative;
  padding: 0 0 0 56px;
  margin: 22px 0 25px 34px;

  @include font(17, 700);

  &::before {
    content: url("../img/icon-video.svg");
    position: absolute;
    top: 7px;
    left: 0;
  }
}

.production__wrap {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  margin-bottom: 32px;
}

.production__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.production__text {
  margin: 0 32px 25px 34px;
  font-size: 13px;
  color: $lightBlack;
}

.production__button {
  display: block;
  width: auto;
  padding: 16px 20px;
  text-align: center;
  margin: 0 33px 32px 33px;

  @include font(17, 700, 16);
  text-decoration: none;
}

@media (min-width: $medium) {
  .production {
    display: flex;
    flex-direction: column;
  }

  .production__wrap {
    order: -1;
  }
}

@media (min-width: $large) {
  .production {
    position: relative;
    padding-left: 60%;
  }

  .production__wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    padding-top: 33.75%;
  }
}
