*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  min-width: 320px;
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  background-color: transparent;
  border: 2px solid $lightBlack;
  color: $lightBlack;
  text-transform: uppercase;
}

.color-green {
  display: block;
  position: relative;
  width: 100%;
  line-height: 16px;
  text-transform: uppercase;
  color: $lightGreen;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 60px;
    right: 0;
    height: 1px;
    background-color: $lightGreen;
  }
}

.header__link,
.catalog-goods__item-title {
  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.product-info__button,
.contacts__button,
.feedback__button,
.production__button,
.order__button {
  &:hover {
    color: #ffffff;
    background-color: $lightBlack;
  }

  &:active {
    color: #8d8d8d;
  }
}


.container {
  padding: 0 30px;
  //padding: 0 calc((100% - 320px + 60px) / 2);
}

@media (min-width: $medium) {
  .container {
    padding: 0 50px;
    //padding: 0 calc((100% - #{$medium} + 96px) / 2);
  }
}

@media (min-width: $large) {
  .container {
    padding: 0 50px;
    //padding: 0 calc((100% - #{$large} + 100px) / 2);
  }
}
