@mixin resetList {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin linkReset {
  display: block;
  text-decoration: none;
  color: #000000;
}
/* stylelint-disable */
@mixin font($param...) {
  font-size: (nth($param, 1) * 1px);

  @if length($param) > 1 {
    font-weight: nth($param, 2);
  }

  @if length($param) > 2 {
    line-height: (nth($param, 3) * 1px);
  }
}
/* stylelint-enable */
