@mixin resetList {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin resetFieldset {
  border: none;
  padding: 0;
  margin: 0;
}

/* stylelint-disable */
@mixin font($param...) {
  font-size: (nth($param, 1) * 1px);

  @if length($param) > 1 {
    font-weight: nth($param, 2);
  }

  @if length($param) > 2 {
    line-height: (nth($param, 3) * 1px);
  }
}
/* stylelint-enable */

@mixin backgrondStrech($color) {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: -50px;
    left: -50px;
    bottom: 0;
    z-index: -1;
    background-color: $color;
  }
}
