.about-us {
  margin: 28px 0 56px 0;
}

.about-us__title {
  @include font(25, 700, 30);
  margin-bottom: 30px;
}

.about-us__advantages-list {
  @include resetList;
}

.about-us__advantage {
  @include font(17, 700, 20);

  p {
    margin: 0;
  }

  &::before {
    content: "";
    display: flex;
    width: 50px;
    height: 38px;
    justify-content: center;
    align-items: flex-end;
    margin: 20px 0;
  }
}

.about-us__advantage--eko::before {
  content: url("../img/icon-feature-flower.svg");
  margin: 20px 0 15px 0;
}

.about-us__advantage--style::before {
  content: url("../img/icon-feature-money.svg");
  margin: 20px 0 25px 0;
}

.about-us__advantage--like::before {
  content: url("../img/icon-feature-heart.svg");
  margin: 27px 0 20px 0;
}

.about-us__advantage--hand-made::before {
  content: url("../img/icon-feature-ball.svg");
  margin: 28px 0 16px -3px;
}

.about-us__advantage--support::before {
  content: url("../img/icon-feature-rocket.svg");
  margin: 18px 0 27px -3px;
}

.about-us__advantage--gift::before {
  content: url("../img/icon-feature-gift.svg");
  margin: 25px 0 19px -4px;
}

@media (min-width: $medium) {
  .about-us {
    margin-bottom: 83px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .about-us__title {
    font-size: 43px;
    line-height: 50px;
    margin-top: 75px;
    margin-left: -4px;
  }

  .about-us__advantages-list {
    display: flex;
    flex-wrap: wrap;
  }

  .about-us__advantage {
    display: block;
    width: 50%;
    font-size: 20px;
    line-height: 22px;
  }

  .about-us__advantage--eko {
    order: -1;

    &::before {
      content: url("../img/icon-feature-flower.svg");
      margin: 20px 0 15px 0;
    }
  }

  .about-us__advantage--hand-made {
    order: 1;

    &::before {
      content: url("../img/icon-feature-ball.svg");
      margin: 19px 0 16px -2px;
      width: 45px;
    }
  }

  .about-us__advantage--style {
    order: 2;

    &::before {
      content: url("../img/icon-feature-money.svg");
      margin: 48px 0 25px 0;
    }
  }

  .about-us__advantage--support {
    order: 3;

    &::before {
      content: url("../img/icon-feature-rocket.svg");
      width: 55px;
      margin: 46px 0 27px -6px;
    }
  }

  .about-us__advantage--like {
    order: 4;

    &::before {
      content: url("../img/icon-feature-heart.svg");
      margin: 53px 0 20px 0;
    }
  }

  .about-us__advantage--gift {
    order: 5;

    &::before {
      content: url("../img/icon-feature-gift.svg");
      margin: 54px 0 19px -6px;
    }
  }
}

@media (min-width: $large) {
  .about-us {
    margin-left: 100px;
  }
}
