.contacts {
  margin: 36px 0 40px 0;
}

.contacts__title {
  @include font(18, 700, 30);
  margin-bottom: 0;
}

.contacts__info {
  font-style: normal;
  margin-bottom: 10px;
}

.contacts__data {
  border-spacing: 0 25px;
  line-height: 30px;
  color: $lightBlack;
  width: 100%;
  table-layout: fixed;
}

.contacts__cell {
  padding: 0;
  vertical-align: top;
}

.contacts__cell--value {
  width: 70%;
}

.contacts__cell--address {
  padding-top: 7px;
}

.contacts__email {
  border-bottom: 1px solid #62d1ba;
  padding-bottom: 5px;
}

.contacts__map {
  background: url("../img/map-mobile@1x.jpg") no-repeat 50%;
  height: 457px;
  margin-bottom: 40px;

  iframe {
    width: 100%;
    height: 100%;
  }
}

.contacts__button {
  display: block;
  width: auto;
  padding: 14px 20px;
  text-align: center;
  margin: 0 auto;

  @include font(18, 700, 20);
  text-decoration: none;
}

@media (min-width: $medium) {
  .contacts__data tbody {
    display: flex;
  }

  .contacts__row {
    width: 50%;
  }

  .contacts__button {
    width: 230px;
  }
}

@media (min-width: $large) {
  .contacts__wrapper {
    margin-left: 100px;
  }
}
