.contacts {
  margin: 36px 0 40px 0;
}

.contacts__title {
  @include font(18, 700, 30);
  margin-bottom: 0;
}

.contacts__info {
  font-style: normal;
  margin-bottom: 10px;
}

.contacts__data {
  display: flex;
  flex-wrap: wrap;
  line-height: 30px;
  color: $lightBlack;
  margin-top: 26px;
  margin-bottom: 5px;
  width: 100%;
  max-width: 488px;
}

.contacts__item--value {
  margin-left: 12%;
  margin-bottom: 30px;
  width: 69%;
}

.contacts__email {
  border-bottom: 1px solid #62d1ba;
  padding-bottom: 5px;
  color: $lightBlack;
  text-decoration: none;

  &:hover {
    color: rgb(70, 193, 174);
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__map {
  background: url("../img/map-mobile@1x.jpg") no-repeat 50%;
  height: 457px;
  margin-bottom: 35px;

  iframe {
    width: 100%;
    height: 100%;
  }
}

.contacts__button {
  display: block;
  width: auto;
  padding: 14px 20px;
  text-align: center;
  margin: 0 auto;

  @include font(18, 700, 20);
  text-decoration: none;
}

@media (min-resolution: 144dpi), (min-resolution: $retina-dppx) {
  .contacts__map {
    background: url("../img/map-mobile@2x.jpg") no-repeat 50%;
  }
}

@media (min-width: $medium) {
  .contacts__info {
    margin-bottom: 27px;
  }

  .contacts__map {
    margin-bottom: 55px;
    background: url("../img/map-tablet@1x.jpg") no-repeat 50%;
  }

  .contacts__title {
    position: relative;
    margin: 61px 0 0 -4px;
    font-size: 43px;
    line-height: 50px;
    padding-right: 80px;

    &::after {
      content: url("../img/icon-flag.svg");
      position: absolute;
      width: 47px;
      height: 82px;
      top: -14px;
      right: 5px;
    }
  }

  .contacts__data {
    margin-top: 49px;
    width: auto;
    max-width: unset;
  }

  .contacts__item {
    font-size: 17px;
  }

  .contacts__item--value {
    margin-left: 24px;
    width: 38.5%;
  }

  .contacts__button {
    width: 230px;
    margin-bottom: 57px;
    font-size: 17px;
  }

  @media (min-resolution: 144dpi), (min-resolution: $retina-dppx) {
    .contacts__map {
      background: url("../img/map-tablet@2x.jpg") no-repeat 50%;
    }
  }
}

@media (min-width: $large) {
  .contacts {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 456px;
    margin-top: 73px;
    margin-bottom: 106px;
  }

  .contacts__wrapper {
    padding-left: calc(50% - 351px);
    padding-right: 0;
    width: calc(100% - 605px);
  }

  .contacts__wrapper--margin {
    margin-top: auto;
  }

  .contacts__map {
    position: absolute;
    top: 0;
    right: 0;
    width: 526px;
    margin-right: calc(50% - 527px);
    background: url("../img/map-desktop@1x.jpg") no-repeat 50%;
  }

  .contacts__title {
    margin: 69px 0 0 -6px;
    font-size: 53px;
    line-height: 57px;
    padding-right: 0;

    &::after {
      top: -9px;
      left: -105px;
    }
  }

  .contacts__data {
    width: 321px;
  }

  .contacts__item--value {
    width: auto;
  }

  .contacts__button {
    margin: 0;
  }

  @media (min-resolution: 144dpi), (min-resolution: $retina-dppx) {
    .contacts__map {
      background: url("../img/map-desktop@2x.jpg") no-repeat 50%;
    }
  }
}
