.feedback {
  position: relative;
  padding-bottom: 50px;

  &::after {
    content: "";
    position: absolute;
    background: url("../img/bg-zigzag-line-mini2.svg") repeat-x;
    background-size: auto 6px;
    height: 6px;
    bottom: 0;
    left: -30px;
    z-index: 5;
    right: -30px;
  }
}

.feedback__title {
  @include font(25, 700, 30);
  margin-bottom: 24px;
}

.feedback__text {
  line-height: 30px;
  margin-bottom: 27px;
  color: $lightBlack;
}

.feedback__contacts {
  margin: 0;
}

.feedback__user {
  @include font(17, 700);
  display: block;
  color: $black;
  margin-bottom: 2px;
  text-decoration: none;
}

.feedback__user--address {
  margin-bottom: 31px;
  color: $lightBlack;
  font-weight: 400;
  line-height: 30px;
}

.feedback__nav {
  display: flex;
  margin-bottom: 37px;
}

.feedback__toggle {
  display: flex;
  width: 50%;
  height: 52px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid $borderGray;

  &::before {
    content: url("../img/icon-left-arrow.svg");
    width: 50px;
    height: 26px;
    margin: auto;
  }

  &:hover::before {
    opacity: 0.6;
  }

  &:active::before {
    opacity: 0.3;
  }
}

.feedback__toggle--forward {
  border-left: none;

  &::before {
    transform: rotate(180deg);
  }
}

.feedback__button {
  display: block;
  width: auto;
  padding: 14px 20px;
  text-align: center;

  @include font(18, 700, 20);
  text-decoration: none;
}


@media (min-width: $medium) {
  .feedback {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 76px;
    padding-bottom: 100px;
    background: url("../img/review@1x.jpg") no-repeat;

    &::after {
      background: url("../img/bg-zigzag-line-mini2.svg") repeat-x 26px 0;
      background-size: auto 16px;
      height: 16px;
      bottom: 0;
      left: -50px;
      z-index: 5;
      right: -50px;
    }
  }

  .feedback__title {
    margin: 0 0 32px -4px;
    font-size: 43px;
    line-height: 50px;
    order: -2;
  }

  .feedback__text {
    font-size: 17px;
    margin-bottom: 58px;
  }

  .feedback__contacts--wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 450px;
  }

  .feedback__user--name {
    font-size: 18px;
    margin-bottom: 3px;
  }

  .feedback__nav {
    width: 175px;
    margin: -83px 0 0 auto;
  }

  .feedback__toggle {
    border: 0;
  }

  .feedback__button {
    width: 175px;
    height: 52px;
    margin: 3px 0 0 0;
    order: -1;
  }

  @media (min-resolution: $retina-dppx) {
    .feedback {
      background: url("../img/review@2x.jpg") no-repeat;
      background-size: 350px auto;
    }
  }
}

@media (min-width: $large) {
  .feedback {
    padding: 71px 50px 154px 174px;
    margin-left: 50px;

    &::after {
      background-position: 0 0;
      background-size: auto 21px;
      height: 21px;
    }
  }

  .feedback__title {
    margin: 0 0 31px -2px;
    font-size: 53px;
    line-height: 57px;
    order: -2;
  }

  .feedback__button {
    margin: 9px 0 0 0;
  }

  .feedback__text {
    padding-right: 75px;
    margin-bottom: 39px;
  }

  .feedback__user--name {
    font-size: 17px;
  }

  @media (min-resolution: $retina-dppx) {
    .feedback {
      background: url("../img/review@2x.jpg") no-repeat;
      background-size: 350px auto;
    }
  }
}
