.main-footer {
  background-color: #f1f1f1;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 26px 5px 20px 0;
  margin: 0 auto;
  list-style: none;
  border-bottom: 1px solid #e5e5e5;
}

.social-icon__item--fb {
  margin: 0 40px;
}

.copyright {
  display: flex;
  justify-content: space-between;
  margin: 9px auto 0 auto;
  width: 197px;
}

.copyright__text {
  margin-left: 7px;

  @include font(19, 700, 18);
}

.copyright__logo {
  margin: 14px 8px 0 0;
  fill: #63d1bb;
}

.logo-footer {
  display: none;
}

@media (min-width: $medium) {
  .logo-footer {
    display: block;
    order: -1;
    margin: 0 0 8px 0;
  }

  .main-footer {
    display: flex;
    padding-top: 36px;
    padding-bottom: 30px;
    justify-content: space-between;
    align-items: center;
  }

  .copyright {
    margin: 0;
  }

  .copyright__text {
    padding-left: 6px;
    margin-top: 16px;
  }

  .copyright__logo {
    margin: 11px 0 0 0;
  }

  .social-icon {
    margin-left: calc(50% - 176px);
    padding-top: 23px;
  }
}

@media (min-width: $large) {
  .social-icon {
    margin-left: 351px;
  }
}
