.footer {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
}

.footer__logo svg,
.footer__copyright-logo {
  &:hover {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__copyright-link:active + p {
  opacity: 0.3;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  margin: 9px auto 0 auto;
  width: 197px;
}

.footer__copyright-text {
  margin-left: 7px;
  order: -1;

  @include font(19, 700, 18);
}

.footer__copyright-logo {
  margin: 14px 8px 0 0;
  fill: #63d1bb;
}

.footer__logo {
  display: none;
}

@media (min-width: $medium) {
  .footer__logo {
    display: block;
    width: 197px;
    order: -1;
    margin: 0 0 8px 0;
  }

  .footer {
    flex-direction: row;
    padding-top: 36px;
    padding-bottom: 30px;
    justify-content: space-between;
    align-items: center;
  }

  .footer__copyright {
    margin: 0;
  }

  .footer__copyright-text {
    padding-left: 6px;
    margin-top: 16px;
  }

  .footer__copyright-logo {
    margin: 11px 0 0 0;
  }
}

@media (min-width: $large) {
  .footer__copyright {
    margin-bottom: 7px;
  }
}
