.goods {
  padding-bottom: 42px;
  position: relative;

  &::after {
    content: "";
    background: url("../img/bg-zigzag-line-mini2.svg");
    position: absolute;
    height: 6px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
  }
}

.goods__title-wrapper {
  text-align: center;
}

.goods__title {
  position: relative;

  @include font(27, 700, 30);
  margin: 0;
  padding-top: 71px;
  padding-bottom: 123px;
  background: #f9f9f9 url("../img/hero-mobile@1x.jpg") 50% 18% no-repeat;

  @include backgrondStrech(#f9f9f9);
}

.goods__group {
  @include resetList;
  margin-bottom: 29px;
}

.goods__link {
  position: relative;
  z-index: 0;
  display: block;
  padding: 27px 0;

  @include font(19, 700);
  color: #ffffff;
  text-decoration: none;

  @include backgrondStrech($lightGreen);

  &:hover::before {
    bottom: -5px;
  }

  &:hover::after {
    opacity: 0.7;
  }

  &:hover {
    top: -5px;
  }

  &:active .goods__link-name,
  &:active::after {
    opacity: 0.3;
  }
}

.goods__link-name {
  display: block;
  width: 175px;
  word-wrap: break-word;
}

.goods__link--interior {
  &::after {
    content: url("../img/icon-interior.svg");
    position: absolute;
    top: 23px;
    right: 4px;
    opacity: 0.5;
  }
}

.goods__link--toys {
  &::before {
    background-color: #56c3b2;
  }

  &::after {
    content: url("../img/icon-toy.svg");
    position: absolute;
    top: 22px;
    right: -4px;
    opacity: 0.5;
  }
}

@media (min-width: $medium) {
  .goods::after {
    left: 50px;
    right: 50px;
    height: 17px;
  }

  .goods__group {
    display: flex;
  }

  .goods__group-item {
    flex-grow: 1;
  }

  .goods__link::before {
    left: 0;
    right: 0;
  }
}
