.goods {
  position: relative;

  @include backgrondStrech(#f9f9f9);
}

.goods__title-wrapper {
  text-align: center;
}

.goods__title {
  position: relative;

  @include font(27, 700, 30);
  margin: 0;
  padding-top: 71px;
  padding-bottom: 123px;
  background: #f9f9f9 url("../img/hero-mobile@1x.jpg") 50% 18% no-repeat;
}

.goods__group {
  @include resetList;
  margin-bottom: 29px;
}

.goods__link {
  position: relative;
  z-index: 0;
  display: block;
  padding: 27px 0;

  @include font(19, 700);
  color: #ffffff;
  text-decoration: none;

  @include backgrondStrech($lightGreen);

  &::before {
    bottom: -3px;
  }

  &:hover::before {
    bottom: -8px;
  }

  &:hover::after {
    opacity: 0.7;
  }

  &:hover {
    top: -5px;
  }

  &:active .goods__link-name,
  &:active::after {
    opacity: 0.3;
  }
}

.goods__link-name {
  display: block;
  width: 175px;
  word-wrap: break-word;
}

.goods__link--interior {
  &::after {
    content: url("../img/icon-interior.svg");
    position: absolute;
    top: 23px;
    right: 4px;
    opacity: 0.5;
  }
}

.goods__link--toys {
  &::before {
    background-color: #56c3b2;
  }

  &::after {
    content: url("../img/icon-toy.svg");
    position: absolute;
    top: 22px;
    right: -4px;
    opacity: 0.5;
  }
}

@media (min-resolution: $retina-dppx) {
  .goods__title {
    background: #f9f9f9 url("../img/hero-mobile@2x.jpg") 50% 18%/575px auto no-repeat;
  }
}

@media (min-width: $medium) {
  .goods::after {
    content: "";
    background: url("../img/bg-zigzag-fill-mini.svg") repeat-x 1px 11px;
    background-size: auto 23px;
    position: absolute;
    height: 23px;
    bottom: -3px;
    left: 0;
    right: 0;
    z-index: 5;
  }

  .goods__title {
    height: 539px;
    padding: 65px 0 0 0;
    font-size: 43px;
    line-height: 50px;
    background: #f9f9f9 url("../img/hero-tablet@1x.jpg") 50% 43% no-repeat;
  }

  .goods__group {
    display: flex;
    position: relative;
    margin-bottom: 45px;
  }

  .goods__group-item {
    flex-grow: 1;
  }

  .goods__link {
    padding: 27px 105px 30px 37px;
    font-size: 20px;
    line-height: 30px;

    &::before {
      left: 0;
      right: 0;
    }
  }

  .goods__link--interior::after {
    top: 30px;
    right: 36px;
  }

  .goods__link--toys::after {
    top: 30px;
    right: 36px;
  }

  @media (min-resolution: $retina-dppx) {
    .goods__title {
      background: #f9f9f9 url("../img/hero-desktop@2x.jpg") 50% 43%/1150px auto no-repeat;
    }
  }
}

@media (min-width: $large) {
  .goods::after {
    background: url("../img/bg-zigzag-fill-mini.svg") repeat-x 16px 18px;
    background-size: auto 37px;
    height: 37px;
  }

  .goods__title {
    font-size: 53px;
    line-height: 57px;
    background: #f9f9f9 url("../img/hero-desktop@1x.jpg") 50% 43% no-repeat;
  }

  @media (min-resolution: $retina-dppx) {
    .goods__title {
      background: #f9f9f9 url("../img/hero-desktop@2x.jpg") 50% 43%/1150px auto no-repeat;
    }
  }
}
