.goods__title-wrapper {
  text-align: center;
}

.goods__title {
  position: relative;

  @include font(27, 700, 30);
  margin: 0;
  padding-top: 70px;
  padding-bottom: 123px;
  background: #fbfbfb url("../../../img/hero-mobile@1x.jpg") 49% 20% no-repeat;

  @include backgrondStrech(#fbfbfb);
}

.goods__group {
  @include resetList;
  margin-bottom: 29px;
}

.goods__link {
  position: relative;
  z-index: 0;
  display: block;
  padding: 27px 0;

  @include font(19, 700);
  color: #ffffff;
  text-decoration: none;

  @include backgrondStrech(#63d1bb);

  &:hover::before {
    bottom: -5px;
  }

  &:hover::after {
    opacity: 0.7;
  }

  &:hover {
    top: -5px;
  }

  &:active .goods__link-name,
  &:active::after {
    opacity: 0.3;
  }
}

.goods__link-name {
  display: block;
  width: 175px;
  word-wrap: break-word;
}

.goods__link--interior {
  &::after {
    content: url("../../../img/icon-interior.svg");
    position: absolute;
    top: 23px;
    right: 4px;
    opacity: 0.5;
  }
}

.goods__link--toys {
  &::before {
    background-color: #56c3b2;
  }

  &::after {
    content: url("../../../img/icon-toy.svg");
    position: absolute;
    top: 22px;
    right: -4px;
    opacity: 0.5;
  }
}
