.header__menu {
  @include resetList;
  display: none;
  position: relative;
  top: 15px;
  left: calc(50% - 160px);
  background-color: #ffffff;
  z-index: 2;
}

.header__item {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 320px;
  min-height: 79px;
  border-top: 1px solid $borderGray;
}

.header__item--basket {
  border-bottom: 1px solid $borderGray;
}

.header__link {
  margin-top: 25px;
  padding-left: 76px;
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
  color: $black;
}

.header__search-description::before {
  content: url("../img/icon-search.svg");
  position: absolute;
  top: 33px;
  left: 33px;
  z-index: 3;
}

.header__search {
  margin: auto;
  width: 100%;
  margin-top: 20px;
  padding: 10px 0 10px 76px;
  border: none;

  &::placeholder {
    font-size: 17px;
    font-weight: 700;
    opacity: 1;
  }
}

.header__link--basket::before {
  content: url("../img/icon-cart.svg");
  position: absolute;
  top: 31px;
  left: 31px;
  z-index: 3;
}

.header--no-js {
  .header__menu-opener {
    display: none;
  }

  .header__menu {
    display: block;
  }
}

.header--opened .header__menu {
  display: block;
  position: absolute;
  top: 78px;
}

.header__button-icon {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 1px;
  width: 20px;
  height: 2px;
  background-color: $black;
  transition: 0.3s;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -6px;
    right: 0;
    width: 20px;
    height: 2px;
    background-color: $black;
    transition: 0.3s;
  }

  &::after {
    top: 6px;
  }
}

.header--opened .header__button-icon {
  width: 0;
  transition: 0.3s;

  &::before,
  &::after {
    width: 27px;
    transform: rotate(-45deg);
    transform-origin: 82% 60%;
    transition: 0.3s;
  }

  &::after {
    transform: rotate(45deg);
  }
}

.header__item--delivery,
.header__item--new,
.header__item--sale {
  display: none;
}

.header__link--delivery {
  font: inherit;
}

@media (min-width: $medium) {
  .header__menu {
    display: flex;
    flex-wrap: wrap;
    position: static;
  }

  .header__item {
    position: relative;
    z-index: 1;
    width: auto;
    min-height: 88px;
    border-top: 0;
  }

  .header__item--delivery {
    display: block;
    margin-left: auto;
    padding-top: 18px;
    z-index: 0;
    min-width: 231px;
    max-width: 34%;

    @include backgrondStrech(#f9f9f9);

    &::before {
      right: -50px;
      left: -1060px;
      border-top: 1px solid $borderMain;
    }
  }

  .header__link--delivery {
    padding-left: 0;
  }

  .header__link--catalog,
  .header__link--knitting {
    font-size: 15px;
    padding: 18px 0 0 0;
  }

  .header__item--knitting {
    margin-left: 36px;
    max-width: 30%;
  }

  .header__item--catalog {
    max-width: 30%;
  }

  .header__link,
  .header__search {
    margin: 0;
  }

  .header__item--search {
    order: -2;
    margin-left: calc(100% - 348px);
    border-left: 1px solid $borderMain;
    border-right: 1px solid $borderMain;
  }

  .header__search-description::before {
    top: 37px;
  }

  .header__item--basket {
    order: -1;
    width: 263px;
    text-align: right;
    border-bottom: 0;
  }

  .header__link--basket {
    padding-top: 29px;
    height: auto;
    border-bottom: 0;

    &::before {
      top: 34px;
      left: 31px;
    }
  }

  .header__search {
    width: 82px;

    &::placeholder {
      font-size: 0;
    }
  }
}

@media (min-width: $large) {
  .header__item--search,
  .header__item--basket {
    order: 0;
  }

  .header__link--catalog,
  .header__link--knitting {
    font-size: 17px;
    padding: 30px 20px 0 0;
    max-width: 200px;
  }

  .header__item--knitting {
    margin-left: 0;
  }

  .header__item--search {
    margin-left: calc(100% - 790px);
  }

  .header__item--new,
  .header__item--sale {
    display: block;
  }

  .header__link--sale,
  .header__link--new {
    display: block;
    padding: 18px 20px 0 0;
    font-size: 15px;
  }

  .header__item:not(.header__item--search) {
    min-width: 220px;
    max-width: 400px;
  }
}
