.header {
  position: relative;
  margin-bottom: 16px;
  padding-top: 23px;
}

.logo {
  width: 86px;
  margin: auto;
}

.header__menu-opener {
  position: absolute;
  top: 29px;
  right: -1px;
  padding: 11px 11px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
