.header__menu {
  @include resetList;
  display: none;
  position: relative;
  top: 14px;
  left: 0;
  background-color: #ffffff;
  z-index: 2;
}

.header__item {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 260px;
  height: 80px;
}

.header__link {
  margin: auto 0;
  padding-left: 46px;
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.header__search-description::before {
  content: url("../../../img/icon-search.svg");
  position: absolute;
  top: 31px;
  left: 3px;
  z-index: 3;
}

.header__search {
  margin: auto;
  width: 100%;
  margin-top: 20px;
  padding: 10px 0 10px 46px;
  border: none;

  &::placeholder {
    font-size: 17px;
    font-weight: 700;
    opacity: 1;
  }
}

.header__link--basket {
  margin-top: 25px;

  &::before {
    content: url("../../../img/icon-cart.svg");
    position: absolute;
    top: 29px;
    left: 1px;
    z-index: 3;
  }
}

.header--no-js {
  .header__menu-opener {
    display: none;
  }

  .header__menu {
    display: block;
  }
}

.header--opened .header__menu {
  display: block;
  position: absolute;
  top: 50px;
}

.header__button-icon {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 1px;
  width: 20px;
  height: 2px;
  background-color: #000000;
  transition: 0.3s;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -6px;
    right: 0;
    width: 20px;
    height: 2px;
    background-color: #000000;
    transition: 0.3s;
  }

  &::after {
    top: 6px;
  }
}

.header--opened .header__button-icon {
  width: 0;
  transition: 0.3s;

  &::before,
  &::after {
    width: 27px;
    transform: rotate(-45deg);
    transform-origin: 82% 60%;
    transition: 0.3s;
  }

  &::after {
    transform: rotate(45deg);
  }
}
