.header__menu {
  @include resetList;
  display: none;
  position: relative;
  top: 15px;
  left: calc(50% - 160px);
  background-color: #ffffff;
  z-index: 2;
}

.header__item {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 320px;
  height: 79px;
  border-top: 1px solid $borderGray;
}

.header__link {
  margin-top: 25px;
  padding-left: 76px;
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
  color: $black;
}

.header__search-description::before {
  content: url("../img/icon-search.svg");
  position: absolute;
  top: 33px;
  left: 33px;
  z-index: 3;
}

.header__search {
  margin: auto;
  width: 100%;
  margin-top: 20px;
  padding: 10px 0 10px 76px;
  border: none;

  &::placeholder {
    font-size: 17px;
    font-weight: 700;
    opacity: 1;
  }
}

.header__link--basket {
  height: 78px;
  border-bottom: 1px solid $borderGray;

  &::before {
    content: url("../img/icon-cart.svg");
    position: absolute;
    top: 31px;
    left: 31px;
    z-index: 3;
  }
}

.header--no-js {
  .header__menu-opener {
    display: none;
  }

  .header__menu {
    display: block;
  }
}

.header--opened .header__menu {
  display: block;
  position: absolute;
  top: 79px;
}

.header__button-icon {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 1px;
  width: 20px;
  height: 2px;
  background-color: $black;
  transition: 0.3s;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -6px;
    right: 0;
    width: 20px;
    height: 2px;
    background-color: $black;
    transition: 0.3s;
  }

  &::after {
    top: 6px;
  }
}

.header--opened .header__button-icon {
  width: 0;
  transition: 0.3s;

  &::before,
  &::after {
    width: 27px;
    transform: rotate(-45deg);
    transform-origin: 82% 60%;
    transition: 0.3s;
  }

  &::after {
    transform: rotate(45deg);
  }
}

@media (min-width: $medium) {
  .header__menu {
    display: flex;
    flex-wrap: wrap;
    position: static;
  }

  .header__item {
    width: auto;
  }

  .header__link--catalog,
  .header__link--knitting {
    padding-left: 0;
  }

  .header__link,
  .header__search {
    margin: 0;
  }

  .header__item--search {
    order: -2;
    margin-left: 30%;
  }

  .header__item--basket {
    order: -1;
  }

  .header__search {
    width: 83px;
    padding: 0;

    &::placeholder {
      font-size: 0;
    }
  }
}

@media (min-width: $large) {
  .header__item--search,
  .header__item--basket {
    order: 0;
  }

  .logo {
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -43px;
  }
}
