.product-info {
  position: relative;
  color: $lightBlack;
}

.product-info__title {
  @include font(25, 700, 30);
  margin: 0 0 3px 2px;
  color: $black;
}

.product-info__hit {
  @include font(17, 700, 20);
  text-transform: uppercase;
  color: $lightGreen;
  margin-left: 1px;

  @media (min-width: $medium) {
    float: right;
    width: 70px;
    text-align: center;
    margin: -35px 0 0 0;
  }
}

.product-info__descriptions {
  margin: 21px 0 16px 2px;
}

.product-info__feature {
  margin: 0;

  @media (min-width: $medium) {
    display: flex;
  }
}

.product-info__table {
  border-collapse: collapse;
  margin-bottom: 27px;
}

.product-info-item {
  display: flex;
  border-bottom: 1px solid $borderGray;
  padding: 9px 0;
  line-height: 20px;
}

.product-info__term {
  width: 97px;
}

.product-info__definition {
  width: 165px;
}


.product-info__picture {
  width: 100%;
  height: auto;
}

.product-info__wrap-center {
  @include font(17, 700);
  text-align: center;
}

.product-info__button {
  display: block;
  width: auto;
  margin-top: 27px;
  padding: 14px 20px;
  line-height: 20px;
  font-weight: inherit;
  text-align: center;
  text-decoration: none;
}
