.product-info {
  position: relative;
  color: $lightBlack;
}

.product-info__title {
  @include font(25, 700, 30);
  margin: 0 0 3px 2px;
  color: $black;
}

.product-info__hit {
  @include font(17, 700, 20);
  text-transform: uppercase;
  color: $lightGreen;
  margin-left: 1px;
}

.product-info__descriptions {
  margin: 0 0 16px 2px;
}

.product-info__feature {
  position: relative;
  margin: 21px 0 0 0;
}

.product-info__table {
  border-collapse: collapse;
  margin-bottom: 27px;
}

.product-info-item {
  display: flex;
  border-bottom: 1px solid $borderGray;
  padding: 9px 0;
  line-height: 20px;
}

.product-info__term {
  width: 97px;
}

.product-info__definition {
  width: 165px;
}


.product-info__picture {
  width: 100%;
  height: auto;
}

.product-info__wrap-center {
  @include font(17, 700);
  text-align: center;
}

.product-info__button {
  display: block;
  width: auto;
  margin-top: 27px;
  padding: 14px 20px;
  line-height: 20px;
  font-weight: inherit;
  text-align: center;
  text-decoration: none;
}

@media (min-width: $medium) {
  .product-info__hit {
    position: absolute;
    top: 10px;
    right: 0;
    width: 70px;
    text-align: center;
  }

  .product-info__picture {
    position: absolute;
    top: 0;
    right: 0;
  }

  .product-info__picture,
  .product-info__options,
  .product-info__wrap-center {
    width: 50%;
  }
}

@media (min-width: $large) {
  .product-info {
    position: relative;
    padding-left: 100px;
  }

  .product-info__picture {
    z-index: -1;
  }

  .product-info__hit {
    top: 40px;
    left: 0;
  }

  .product-info__feature {
    position: static;
  }
}
