.social-icon__item svg {
  &:hover {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 26px 5px 20px 0;
  margin: 0 auto;
  list-style: none;
  border-bottom: 1px solid #e5e5e5;
}

.social-icon__item--fb {
  margin: 0 40px;
}

@media (min-width: $medium) {
  .social-icon {
    margin-left: calc(50% - 176px);
    padding-top: 23px;
    border-bottom: 0;
  }
}

@media (min-width: $large) {
  .social-icon {
    margin-left: calc(50% - 176px);
  }
}
