.goods__title-wrapper {
  text-align: center;
}

@mixin font($param...) {
  font-size: nth($param, 1);
  @if length($param) > 1 {
    font-weight: nth($param, 2);
  }
  @if length($param) > 2 {
    line-height: nth($param, 3);
  }
}

.goods__title {
  @include font(27px);
}

.goods__group {
  @include resetList;
}

.goods__link {
  @include linkReset;
  font-size: 19px;
  font-weight: 700;
}


