.goods__title-wrapper {
  text-align: center;
}

.goods__title {
  @include font(27, 700, 30);
}

.goods__group {
  @include resetList;
}

.goods__link {
  @include linkReset;
  @include font(19, 700);
}

%extreme {
  color: blue;
  font-weight: bold;
  font-size: 2em;
}

$grid-width: 40px;
$gutter-width: 10px;
$n: 6;

@function z() {
  @return $n * $grid-width + ($n - 1) * $gutter-width;
}

#sidebar {
  width: z();
}
