.goods__title-wrapper {
  text-align: center;
}

.goods__title {
  @include font(27, 700, 30);
}

.goods__group {
  @include resetList;
}

.goods__link {
  @include linkReset;
  @include font(19, 700);
}


@mixin inset-divider-offset($offset, $padding) {
  $divider-offset: (2 * $padding) + $offset;
  @debug "divider offset: #{$divider-offset}";

  margin-left: $divider-offset;
  width: calc(100% - #{$divider-offset});
}

.example {
@include inset-divider-offset(2, 7);
}
