.checkbox {
  @include resetFieldset;
  margin-bottom: 9px;
}

.checkbox__title {
  margin-bottom: 9px;
}

.checkbox__label {
  position: relative;
  display: block;
  height: 40px;
  padding-left: 64px;
  line-height: 40px;
  margin-bottom: 21px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid $lightBlack;
  }
}

.checkbox__toggle:checked + label::before {
  content: url("../img/icon-tick.svg");
}

@media (min-width: $medium) {
  .checkbox {
    position: relative;
    flex-wrap: wrap;
    padding-top: 64px;
    padding-bottom: 9px;
    margin-bottom: 36px;

    p {
      width: 45.7%;
      margin-top: 0;
      margin-left: 22px;
    }

    @include backgrondStrech(#f1f1f1);
  }

  .wrap-checkbox {
    display: flex;
    flex-wrap: wrap;
    margin-left: 145px;
  }

  .checkbox__title {
    position: absolute;
    top: 66px;
    left: 0;
  }

  .checkbox__label {
    padding-left: 81px;
    font-size: 19px;
    line-height: 18px;
    height: auto;
    min-height: 39px;

    &::before {
      top: -15px;
      width: 54px;
      height: 52px;
    }
  }
}

@media (min-width: $large) {
  .checkbox p {
    width: 26.9%;
  }

  .wrap-checkbox {
    margin-left: 153px;
  }

  .checkbox__title {
    top: 64px;
    left: 60px;
  }
}
