.order {
  margin-bottom: 57px;
}

.order__title {
  position: relative;
  padding: 69px 0 78px 3px;
  margin: 0 0 22px 0;
  text-align: center;

  @include font(27, 700, 30);
  @include backgrondStrech(#f1f1f1);
}

.order_form {
  @include font(17, 700, 18);
}

.order__text {
  font-size: 13px;
  margin-bottom: 23px;
  color: $lightBlack;
}
