.order {
  margin-bottom: 55px;
}

.order__title {
  position: relative;
  padding: 69px 0 78px 3px;
  margin: 0 0 22px 0;
  text-align: center;

  @include font(27, 700, 30);
  @include backgrondStrech(#f1f1f1);
}

.order_form {
  @include font(17, 700, 18);
}

.order__text {
  font-size: 13px;
  margin-bottom: 23px;
  color: $lightBlack;
}

.order__note {
  @include font(14, 400, 16);
  color: $lightBlack;
}

.order__button {
  width: 100%;
  margin-top: 33px;
  padding: 15px 20px;
  text-align: center;
  font-weight: 700;
  line-height: 16px;
}

@media (min-width: $medium) {
  .order {
    margin-bottom: 52px;
  }

  .order__title {
    padding: 5px 0 81px 3px;
    margin: 0 0 72px 0;
    font-size: 43px;
    line-height: 50px;

    &::after {
      position: absolute;
      content: "";
      background: url("../img/bg-zigzag-fill-mini.svg") repeat-x 0 13px;
      background-size: auto 23px;
      height: 23px;
      bottom: 0;
      left: -50px;
      right: -50px;
      z-index: 5;
    }
  }

  .order__text {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 49px;
  }

  .order__note {
    margin-top: 36px;
    font-size: 17px;
    line-height: 30px;
  }

  .order__button {
    width: 230px;
    margin-top: 29px;
    order: -1;
  }
}

@media (min-width: $large) {
  .order {
    margin-bottom: 50px;
  }

  .order__title {
    padding: 5px 0 106px 3px;
    margin: 0 0 119px 0;
    font-size: 53px;
    line-height: 57px;

    &::after {
      background: url("../img/bg-zigzag-fill-mini.svg") repeat-x 0 15px;
      background-size: auto 34px;
      height: 34px;
      right: calc(525px + 50vw);
      left: calc(525px + 50vw);
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: calc(525px + 50vw);
      left: calc(525px + 50vw);
      bottom: 0;
      z-index: -1;
      background-color: #f1f1f1;
    }
  }

  .order__text {
    margin-left: 176px;
    margin-right: 146px;
  }

  .order__wrap-submit {
    margin: 0 175px 0 175px;
  }

  .order__note {
    margin-top: 32px;
  }

  .order__button {
    margin-top: 24px;
  }
}
