.radio {
  @include resetFieldset;
  margin-bottom: 14px;
}

.radio__title {
  margin-bottom: 10px;
}

.radio__label {
  position: relative;
  display: block;
  padding: 7px 0 0 65px;
  min-height: 38px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 2px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 2px solid $lightBlack;
  }

  &:hover::before {
    border: 2px solid $lightGreen;
  }
}

.radio__toggle:checked + label::before {
  background-color: $lightGreen;
  box-shadow: inset 0 0 0 9px #ffffff;
  border: 2px solid #c7c7c7;
}

@media (min-width: $medium) {
  .radio {
    margin-bottom: 17px;
  }

  .radio p {
    margin-left: 167px;
  }

  .radio__title {
    margin-bottom: 10px;
    float: left;
    top: 26px;
  }

  .radio__label {
    font-size: 19px;
    margin-bottom: 39px;
    padding-left: 80px;

    &::before {
      top: -7px;
      left: 0;
      width: 52px;
      height: 52px;
    }
  }

  .radio__toggle:checked + label::before {
    box-shadow: inset 0 0 0 14px #ffffff;
  }
}

@media (min-width: $large) {
  .radio p {
    margin-left: 175px;
  }

  .radio__title {
    left: 63px;
  }
}
