.user-data {
  @include resetFieldset;
}

.user-data__title {
  margin-bottom: 12px;
}

.user-data__label {
  display: block;
}

.user-data__field {
  width: 100%;
  margin: 3px 0;
  padding: 14px 0 16px 0;
  border: none;
  border-bottom: 2px solid #000000;
  font-weight: 400;
  line-height: 18px;

  &::placeholder {
    opacity: 0.3;
  }
}

.user-data__contact {
  position: relative;
  margin-top: 29px;

  &::before {
    top: 8px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 19px;
    right: 7px;
    opacity: 0.2;
  }
}

.user-data__contact--phone::after {
  content: url("../img/icon-phone.svg");
}

.user-data__contact--email {
  &::before {
    left: 80px;
  }

  &::after {
    content: url("../img/icon-mail.svg");
    bottom: 11px;
    right: 3px;
  }
}

.user-data__field--phone {
  font-size: 19px;
  margin-top: 9px;
  padding-right: 40px;
}

.user-data__field--email {
  margin-top: 9px;
  padding-right: 40px;
}

.user-data__margin-bottom {
  margin-bottom: 13px;
}

.user-data__area {
  width: 260px;
  height: 142px;
  margin-top: 25px;
  padding: 13px 15px;
  border: 2px solid $lightBlack;
  font-weight: 400;
  line-height: 18px;
}

small {
  @include font(14, 400, 16);
  color: $lightBlack;
}

.order__button {
  width: 100%;
  margin-top: 33px;
  padding: 15px 20px;
  text-align: center;
  font-weight: 700;
  line-height: 16px;
}

@media (min-width: $medium) {
  .radio,
  .checkbox,
  .user-data {
    p {
      margin-left: 100px;
    }
  }

  .checkbox {
    display: flex;
    flex-wrap: wrap;
    width: 710px;

    p {
      min-width: 170px;
    }
  }

  .radio__title,
  .checkbox__title,
  .user-data__title {
    float: left;
    top: 20px;
  }

  .user-data__contact--phone,
  .user-data__contact--email,
  .user-data__contact--comment {
    top: 50px;
    left: -100px;
  }

  .color-green {
    &::before {
      background-color: transparent;
    }
  }

  .user-data__area {
    width: 100%;
  }

  .order__wrap-submit {
    display: flex;
    justify-content: space-between;

    small {
      margin-top: 50px;
    }
  }

  .order__button {
    width: 230px;
    order: -1;
  }
}

@media (min-width: $large) {
  .checkbox {
    width: auto;
  }
}
